body{
    overflow-x: hidden;
}

.item{
    display: flex;
    color: black;
    margin-inline: 5px;
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}

.item:hover{
    color: #f02c2c;
}

.icon{
    margin-left: 5%;
}
.slider{
    margin: 10px;
    width: 250px;
    /* background-color: #f02c2c; */
}

.image{
    position: relative;
}

.image img{
    height: 380px;
    width: 250px;
    object-fit: cover;
    box-sizing: border-box;
}

.product-details{
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    box-sizing: border-box;
}

.product-name{
    display: flex;
    flex-direction: column;
}

.product-name{
    color: #f02c2c;
    margin: 10px 0px;
    font-size: 17px;
    font-weight: bolder; 
}

span{
    color: rgb(241, 136, 136);
}

.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(84, 75, 75, 0.6);
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 50px;
    width: 150px;
    background-color: #f02c2c;
    color: #fff;
    font-size: 18px;
    font-weight: solid;
}

.btn:hover{
    background-color: #fff;
    color: #f02c2c;
}

.btn-primary{
    border-color: #f02c2c;
}

.btn-primary:hover{
    background-color: #fff;
    color: #f02c2c;
    border-color: #f02c2c;
}

.Button{
    visibility: hidden;
}

.image:hover .Button{
    visibility: visible;
    animation: animation 1s;
}

@keyframes animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.container{
    display: flex;
    margin-left: 20px;
    justify-content: left;
    height: 600px;
    width: 4000px;
    margin: 10px;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}

.arrow{
    position: absolute;
    top: 670px;
    right: 10px;
    color: #040404;
    font-size: 80px;
    cursor: pointer;
}

/* FOOTER */

bottom {
    line-height: 1.8;
    font-family: 'poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    padding: 0;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f02c2c;
    height: 2px;
    box-sizing: border-box;
    width: 60px;
}

.footer-col ul li::not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    margin: auto;  
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}